header{
    position: fixed;
}

header ul{
    width: 100%;
}

header li{
    width: 15%;
}

#lead-content{
    top:40%;
    width:90%;
}

.websitesLinks{
    position: absolute;
    top: 70%;
    width: 80%;
    padding-left: 10%;
    z-index: 10;
}

.social{
    margin-left: 10%;
    margin-right: 10%;
}

.social li{
    width: 15%;
    align-items: center;
    padding-left: 9%;
}

.social a{
    margin-right: 50%;
}